In [1]:
import polars as pl

In [27]:
df = pl.DataFrame(
    {
        "A": [1.1, 2, 3, 4, 5],
        "fruits": ["banana", "banana", "apple", "apple", "banana"],
        "B": [5, 4, 3, 2, 1],
        "cars": ["beetle", "audi", "beetle", "beetle", "beetle"],
    }
)

shape: (5, 2)
┌────────┬─────┐
│ fruits ┆ A   │
│ ---    ┆ --- │
│ str    ┆ f64 │
╞════════╪═════╡
│ apple  ┆ 3.0 │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ apple  ┆ 4.0 │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ banana ┆ 1.1 │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ banana ┆ 2.0 │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ banana ┆ 5.0 │
└────────┴─────┘

In [75]:
(
df.sort(
    [
        "cars"
    ]
    )
.select(
    [
        pl.col("cars"),
        pl.col("B").mean()
                   .over(["cars", "fruits"]),
    ]
    )
.distinct()
.select(
    [
        pl.col("B").sum(),
    ]
)
)

shape: (1, 1)
┌─────┐
│ B   │
│ --- │
│ f64 │
╞═════╡
│ 9.5 │
└─────┘

In [101]:
df = pl.read_csv("https://j.mp/iriscsv")
print(
    df.lazy()
      .filter(pl.col("sepal_length") > 5)
      .groupby("species")
      .agg([
            pl.all().mean(),
            pl.col("sepal_length").sum().alias("sum"),
            ]
        )
      .collect()
      .sort("species")
)

shape: (3, 6)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┬───────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ sum   │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---   │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         ┆ f64   │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╪═══════╡
│ setosa     ┆ 5.313636     ┆ 3.713636    ┆ 1.509091     ┆ 0.277273    ┆ 116.9 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ versicolor ┆ 5.997872     ┆ 2.804255    ┆ 4.317021     ┆ 1.346809    ┆ 281.9 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ virginica  ┆ 6.622449     ┆ 2.983673    ┆ 5.573469     ┆ 2.032653    ┆ 324.5 │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┴───────┘

In [104]:
print(
    df.filter(pl.col("sepal_length") > 5)
      .groupby("species")
      .agg([
            pl.all().mean(),
            pl.col("sepal_length").sum().alias("sum"),
            ]
        )
      .sort("species")
)

shape: (3, 6)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┬───────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ sum   │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---   │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         ┆ f64   │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╪═══════╡
│ setosa     ┆ 5.313636     ┆ 3.713636    ┆ 1.509091     ┆ 0.277273    ┆ 116.9 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ versicolor ┆ 5.997872     ┆ 2.804255    ┆ 4.317021     ┆ 1.346809    ┆ 281.9 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ virginica  ┆ 6.622449     ┆ 2.983673    ┆ 5.573469     ┆ 2.032653    ┆ 324.5 │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┴───────┘

In [107]:
print(
    df.filter(pl.col("sepal_length") > 5)
      .groupby(["species", "petal_length"])
      .agg(pl.col("sepal_length").sum().alias("sepal_length_sum"))
)

shape: (44, 3)
┌────────────┬──────────────┬──────────────────┐
│ species    ┆ petal_length ┆ sepal_length_sum │
│ ---        ┆ ---          ┆ ---              │
│ str        ┆ f64          ┆ f64              │
╞════════════╪══════════════╪══════════════════╡
│ versicolor ┆ 4.2          ┆ 22.9             │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ versicolor ┆ 4.0          ┆ 28.9             │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ versicolor ┆ 5.1          ┆ 6.0              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ virginica  ┆ 6.0          ┆ 13.5             │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...        ┆ ...          ┆ ...              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ virginica  ┆ 6.6          ┆ 7.6              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ versicolor ┆ 3.6          ┆ 5.6              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ versicolor ┆ 4.8          ┆ 12.7             │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ versicolor ┆ 3.5          ┆ 5.7              │
└────────────┴──────────────┴──────────────────┘

In [108]:
import numpy as np

np.random.seed(12)

df = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["foo", "ham", "spam", "egg", None],
        "random": np.random.rand(5),
        "groups": ["A", "A", "B", "C", "B"],
    }
)

In [114]:
df.select(
    [
        pl.col("groups").count().alias("unique_names_1"),
        pl.col("groups").unique().alias("unique_names_2"),
    ]
)

shape: (3, 2)
┌────────────────┬────────────────┐
│ unique_names_1 ┆ unique_names_2 │
│ ---            ┆ ---            │
│ u32            ┆ str            │
╞════════════════╪════════════════╡
│ 5              ┆ B              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 5              ┆ A              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 5              ┆ C              │
└────────────────┴────────────────┘